<style>
    #main_div_UTMUpsell {
        background: #60896730;
        padding: 10px;
        padding-bottom: 2px;
        border-radius: 10px;
        border: 1px solid green;
    }

    .utm_upsell_maildiv {
        align-items: center;
        display: flex;
    }

    .utm_upsell_image {
        width: 25%;
        margin-right: 12px
    }

    .utm_upsell_image img {
        width: 85%;
    }

    .utm_upsell_submain {
        width: 74%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .utm_upsell_title {
      font-size:12px;
        display: flex;
        justify-content: space-between;
    }

    .utm_upsell_Under_title {
        width: 40%;
        text-align: center;
        margin-bottom: 5px;
    }

    .utm_upsell_priceATC {}

    .utm_upsell_price {
        width: 50%;
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    .utm_upsell_ATC {}

    .Upsell_count_down {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .upsell_expire {
        font-size: 11px;
        background: #10c310;
        padding: 5px;
        line-height: 16px;
        border-radius: 4px;
        color: white;
        box-shadow: 0px 0px 10px -2px #005200;
    }

    .upsell_percent {
        font-weight:13px;
        color: #a01e9e;
        font-weight: bold;
    }

    .upsell_both_prices {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
    }

    .upsell_compare_price {
        margin-right: 20px;
        text-decoration: line-through;
    }

    .upsellATC_btn {
        background: #0a5e0a;
        padding: 10px 0px;
        min-height: auto;
        
    min-width: 96px;
    }

    .upsellATC_btn>span {
        font-size: 12px !important;
    }

    .upper_dev_upsell {
      justify-content: space-between;
      display: flex;
    }

    .custom_text_upsell {
        width: 58%;
        line-height: 20px;
        font-size: 12px;
    }
    .upsellATC_btn:after{
    box-shadow:none;
    }
</style>

<script>
    let Upsell_product = {{ all_products['tandoori-masala-nut-mix-135g'] |json }};
  
  function UTM_upsell(){
    let utmParmsObject = JSON.parse(localStorage.getItem("occ-utm"));
    // console.log('hjs',Upsell_product);
    // console.log('hjs',Upsell_product.title);
    let Upsell_Percent =  ((Upsell_product.compare_at_price - Upsell_product.price)/Upsell_product.compare_at_price )* 100;
    // console.log("Upsell_Percent",Upsell_Percent);
    Upsell_Percent = Math.round(Upsell_Percent);
    total_info = `
    <div id="utm_upsell_MAINDIV">
        <div class="upper_dev_upsell">
            <div class="custom_text_upsell">Perfect little treats to add desi flavours to your day. Grab the exciting offer now! ⏰</div>
            <div class="utm_upsell_Under_title">
                <div class="upsell_expire">Your offer expires in <span id="some_div"></span></div>
            </div>
        </div>

        <div class="utm_upsell_maildiv">
            <div class="utm_upsell_image"><img src="${Upsell_product.featured_image}" /></div>
            <div class="utm_upsell_submain">
                <div class="utm_upsell_title">
                    <span>${Upsell_product.title}</span>
                </div>
                <div class="Upsell_count_down">
                    <div class="utm_upsell_price"><span class="upsell_percent">${Upsell_Percent}% Off</span>
                        <div class="upsell_both_prices"><span>Rs.${(Upsell_product.price)/100}</span><span
                                class="upsell_compare_price">Rs.${(Upsell_product.compare_at_price)/100}</span></div>
                    </div>
                    <div class="utm_upsell_priceATC">
                        <div onclick="ATCclickDnone()" class="utm_upsell_ATC">
                            <product-form>
                                <form method="post" action="/cart/add"
                                    id="product-form-template--${Upsell_product.id}__main" accept-charset="UTF-8"
                                    class="form" enctype="multipart/form-data" novalidate="novalidate"
                                    data-type="add-to-cart-form"><input type="hidden" name="form_type"
                                        value="product"><input type="hidden" name="utf8" value="✓"><input type="hidden"
                                        name="id" value="${Upsell_product.variants[0].id}">
                                    <div class="product-form__buttons">
                                        <button type="submit" name="add"
                                            class="upsellATC_btn product-form__submit button button--full-width button--primary"
                                            aria-haspopup="dialog">
                                            <span class="ATcart---title">Add to Cart</span>
                                            <div class="loading-overlay__spinner hidden">
                                                <svg aria-hidden="true" focusable="false" role="presentation"
                                                    class="spinner" viewBox="0 0 66 66"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33"
                                                        r="30"></circle>
                                                </svg>
                                            </div>
                                        </button>
                                    </div>
                                </form>
                            </product-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    `
    $('#main_div_UTMUpsell').html(total_info);
    // if (utmParmsObject?.params?.source?.toLowerCase() == "partner" && utmParmsObject?.params?.medium?.toLowerCase() == "cred+rewards+" && utmParmsObject?.params?.campaign?.toLowerCase() == "flat+35%+off+above+1200+rs") {
    //   let upselProductUrl = `{{ shop.url }}/products/test-101.js`
    //   console.log("hiiii");
    // }
  };

  function qtyHidden() {
    $(`.qtyHidden${Upsell_product.id}`).css('display','none');
};
</script>
